#macro(mainLayout)
<html>
<head>
    <title>$msg.get("COMMON_TITLE")</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- following code added later. Start-->
    <!-- Google Sign-in https://developers.google.com/identity/sign-in/web/ -->
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="202753348946-7ji08u78ukoherrg9ch5omkib8jv7303.apps.googleusercontent.com"> 
    <script src="https://apis.google.com/js/platform.js?" async defer></script>   
	<script>
		//Google reference:
		//https://developers.google.com/identity/sign-in/web/reference#googleauthgrantofflineaccessoptions
		function onLoad() 
		{	
        	// make sure auth2 is initialized at page load
         	// https://stackoverflow.com/a/29833065
         	gapi.load('auth2', function() {
            	gapi.auth2.init();
         	});
      	}
   </script>
<!-- end-->          
    
</head>
<body onload="onLoad();">

#if($currentUser)
   <script>
   	// set expire date in the past
   	// https://www.w3schools.com/js/js_cookies.asp
      function eraseCookie(name) {
	     expires = "; expires=Thu, 01 Jan 1970 00:00:00 UTC";
         document.cookie = name + "=" + "" + expires + "; path=/";
      }
      function signOut() {
         var googleAuth = gapi.auth2.getAuthInstance();
         googleAuth.signOut();
         eraseCookie('currentUser');
         eraseCookie('currentToken');
      }
  </script>
#end

<header>
    <nav>
        <a href="$WebPath.getINDEX()"><img id="logo" src="/img/logo.png" alt="Spark Library"></a>
        <ul id="chooseLanguage">
            <form>
                <li>
                    <button name="locale" value="de" style="background-image: url(/img/german.png);"></button>
                </li>
                
                <li>
                    <button name="locale" value="en" style="background-image: url(/img/english.png);"></button>
                </li>
                
                <li>
                    <button name="locale" value="vn" style="background-image: url(/img/vietnam.png);"></button>
                </li>
            </form>
        </ul>
        <ul id="menu">
            <li><a href="$WebPath.getBOOKS()">$msg.get("COMMON_NAV_ALLBOOKS")</a></li>
            #if($currentUser)
                <li>
                    <form method="post" action="$WebPath.getLOGOUT()">
                        <button id="logout" onclick="signOut();">$msg.get("COMMON_NAV_LOGOUT")</button>
                    </form>
                </li>
            #else
                <li><a href="$WebPath.getLOGIN()"">$msg.get("COMMON_NAV_LOGIN")</a></li>
            #end
        </ul>
        <ul id="cart">
        	<li> <a href="$WebPath.getCHECKOUT()"">Check out</a></li>
        </ul>
    </nav>
</header>
<main>
    <div id="content">
        $bodyContent
    </div>
</main>
<footer>
    $msg.get("COMMON_FOOTER_TEXT")
</footer>
</body>
</html>
#end